.main {
  padding: 3% 3%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 85%;
  margin-left: 4%;
  margin-bottom: 3%;
  position: relative;

  .main:hover &__question_btn {
    transform: rotate(45deg);
  }

  .main:hover &__question {
    padding-bottom: 14%;
  }

  .main:hover &__answer {
    opacity: 1;
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    transition: 0.5s;
  }

  &__question_text,
  &__answer {
    font-family: var(--isocpeur-font);
    font-weight: 400;
    font-size: 2vw;
    line-height: 100%;
    color: var(--white-color);
  }

  &__question_btn {
    transition: 0.5s;
    width: 5%;
  }

  &__answer {
    color: var(--accent-color);
    opacity: 0;
    transition: 0.5s ease-out;
    position: absolute;
    bottom: 13%;
    width: 95%;
  }
}
