.slide {
  width: 80%;
  height: 42vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  opacity: 0;
  transition: 0.3s ease-in-out, visibility 0s;
  position: absolute;
  visibility: hidden;

  &__active {
    visibility: visible;
    opacity: 1;
    position: relative;
  }

  &__top,
  &__bottom {
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__top_secondCorner {
    transform: rotate(90deg);
  }

  &__main {
    height: 20vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__main_title,
  &__main_signature,
  &__main_image {
    height: 500px;
  }

  &__main_text {
    position: relative;
    bottom: 8vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: end;
    margin-left: 10%;
  }

  &__main_text_title {
    font-family: var(--viaodalibre-font), sans-serif;
    font-weight: 400;
    font-size: 6vw;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--pink-color);

    text-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__main_text_signature {
    grid-column: 1;
    margin-top: 2vw;

    font-family: var(--isocpeur-font), sans-serif;
    font-weight: 400;
    font-size: 2vw;
    line-height: 132%;
    color: var(--pink-color);

    text-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__main_image {
    width: 25vw;
    height: 33vw;

    position: relative;
    bottom: 8vw;

    margin-left: 30%;
    margin-right: 5%;
    grid-column: 2;
    grid-row: 1;
  }

  &__bottom_thirdCorner {
    transform: rotate(270deg);
  }

  &__bottom_fourthCorner {
    transform: rotate(180deg);
  }
}

@media (width <= 1200px) {
  .slide {
    height: 52vw;
    margin-top: 5%;

    &__top_firstCorner,
    &__top_secondCorner,
    &__bottom_thirdCorner,
    &__bottom_fourthCorner {
      width: 10%;
    }
  }
}
