.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vw;
  background-color: var(--darkGrey-color);

  &__divider {
    border: 1px solid #3a3d43;
    width: 5vw;
    height: 0px;
    transform: rotate(-90deg);
    flex-shrink: 1;
  }

  &__catalog,
  &__resources {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__catalogText,
  &__resourcesText {
    font-family: var(--isocpeur-font), sans-serif;
    color: var(--lightGrey-color);
    font-size: 2.5vw;
    transition: 0.5s;
  }

  &__catalog:hover &__catalogText,
  &__resources:hover &__resourcesText {
    color: var(--accent-color);
  }

  &__catalogDropdown,
  &__resourcesDropdown {
    position: relative;
    top: 3px;
    height: 10%;
    width: 10%;
    transition: 0.5s;
  }

  &__catalogDropdown {
    left: 10px;
  }

  &__catalog:hover &__catalogDropdown,
  &__resources:hover &__resourcesDropdown {
    transform: rotate(180deg);
  }

  &__catalog:hover &__catalogDropdown path,
  &__resources:hover &__resourcesDropdown path {
    stroke: var(--accent-color);
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__searchBtn {
    position: relative;
    left: 10%;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__searchIcon {
    width: 2vw;
    height: 2vw;
  }

  &__searchIcon:hover {
    stroke: var(--white-color);
  }

  &__searchInput {
    font-size: 1.5vw;
    text-indent: 4vw;

    border: 1px solid #7cffd8;
    border-radius: 10px;
    width: 27vw;
    height: 3.5vw;

    font-family: sans-serif;
    color: var(--lightGrey-color);
    background-color: var(--darkBlue-color);
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__buttonsLogin,
  &__buttonsSignup {
    font-size: 1.6vw;
    font-family: var(--spacemono-font), sans-serif;
    cursor: pointer;
    transition: 0.5s;
  }

  &__buttonsLogin {
    margin-right: 1vw;

    color: var(--white-color);

    background: none;
    border: none;
  }

  &__buttonsLogin:hover {
    color: var(--accent-color);
  }

  &__buttonsSignup {
    color: var(--darkGrey-color);

    background-color: var(--accent-color);

    border-radius: 5px;
    width: 10vw;
    height: 3.5vw;
  }

  &__buttonsSignup:hover {
    color: var(--white-color);
    background-color: transparent;
    border: none;
  }
}
