.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vw;
  background-color: var(--darkGrey-color);

  &__divider {
    border: 1px solid #3a3d43;
    width: 5vw;
    height: 0px;
    transform: rotate(-90deg);
    flex-shrink: 1;
  }

  &__catalog,
  &__resources {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__catalogText,
  &__resourcesText {
    font-family: var(--isocpeur-font), sans-serif;
    color: var(--lightGrey-color);
    font-size: 2.5vw;
    transition: 0.5s;
  }

  &__catalog:hover &__catalogText,
  &__resources:hover &__resourcesText {
    color: var(--accent-color);
  }

  &__catalogDropdown,
  &__resourcesDropdown {
    position: relative;
    top: 3px;
    height: 10%;
    width: 10%;
    transition: 0.5s;
  }

  &__catalogDropdown {
    left: 10px;
  }

  &__catalog:hover &__catalogDropdown,
  &__resources:hover &__resourcesDropdown {
    transform: rotate(180deg);
  }

  &__catalog:hover &__catalogDropdown path,
  &__resources:hover &__resourcesDropdown path {
    stroke: var(--accent-color);
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__searchBtn {
    position: relative;
    left: 10%;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__searchIcon {
    width: 2.1vw;
    height: 2.2vw;
    position: relative;
    top: 2px;
  }

  &__searchIcon:hover {
    stroke: var(--white-color);
  }

  &__searchInput {
    font-size: 1.5vw;
    text-indent: 4vw;

    border: 1px solid #7cffd8;
    border-radius: 5px;
    width: 27vw;
    height: 3.5vw;

    font-family: sans-serif;
    color: var(--lightGrey-color);
    background-color: var(--darkBlue-color);
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__buttonsLogin,
  &__buttonsSignup {
    font-size: 1.6vw;
    font-family: var(--spacemono-font), sans-serif;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
  }

  &__buttonsLogin {
    margin-right: 1vw;

    color: var(--white-color);
  }

  &__buttonsLogin:hover {
    color: var(--accent-color);
  }

  &__buttonsSignup {
    color: var(--darkGrey-color);
    background-color: var(--accent-color);
    text-align: center;
    border-radius: 3px;
    width: 10vw;
    padding: 3% 0;
  }

  &__buttonsSignup:hover {
    color: var(--white-color);
    background-color: transparent;
    border: none;
  }
}

@media (width < 600px) {
  .header {
    height: 14vw;

    &__divider {
      width: 8%;
    }

    &__catalog,
    &__resources {
      width: 14%;
      justify-content: space-around;
      position: relative;
      right: 2%;
    }

    &__resources {
      left: 0.5%;
    }

    &__catalogText,
    &__resourcesText {
      font-size: 3vw;
    }

    &__catalogDropdown,
    &__resourcesDropdown {
      height: 15%;
      width: 15%;
    }

    &__catalogDropdown {
      left: 3px;
    }

    &__search {
      width: 27%;
      margin-right: 4%;
    }

    &__searchInput {
      font-size: 2.2vw;
      height: 4vw;
    }

    &__searchIcon {
      width: 2.5vw;
      height: 2.8vw;
      left: 3px;
      top: 1.5px;
    }

    &__buttonsLogin,
    &__buttonsSignup {
      font-size: 2.2vw;
    }

    &__buttonsSignup {
      width: 12vw;
      margin-right: 3px;
    }
  }
}
